<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.dakirsche.weatherwidgets"
    android:versionCode="121"
    android:versionName="1.2.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
		       android:icon="@drawable/ic_launcher"
		       android:label="@string/widget_listup_name_large"
		       android:name="eu.dakirsche.weatherwidgets.LargeWidgetProvider" >
		       <intent-filter >
		            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		       </intent-filter>
		
		       <meta-data
		          android:name="android.appwidget.provider"
		          android:resource="@xml/widget_setup_large" />
		</receiver>
        <receiver
                android:icon="@drawable/ic_launcher"
                android:label="@string/widget_listup_name_small"
                android:name="eu.dakirsche.weatherwidgets.SmallWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_setup_small" />
        </receiver>
        <receiver
                android:icon="@drawable/ic_launcher"
                android:label="@string/widget_listup_name_forecast"
                android:name="eu.dakirsche.weatherwidgets.ForecastWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_setup_forecast" />
        </receiver>
        <activity
            android:name="eu.dakirsche.weatherwidgets.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.dakirsche.weatherwidgets.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name="eu.dakirsche.weatherwidgets.StatisticActivity"
            android:label="@string/title_activity_statistic" >
        </activity>
        <activity
            android:name="eu.dakirsche.weatherwidgets.WidgetSettingsActivity"
            android:label="@string/title_activity_widget_settings" >
        </activity>
        <activity
            android:name="eu.dakirsche.weatherwidgets.StatistikDetailActivity"
            android:label="@string/title_activity_statistik_detail" >
        </activity>
        <activity
                android:name="eu.dakirsche.weatherwidgets.WidgetSettingsDetailActivity"
                android:label="@string/title_activity_widget_settings_detail" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
                android:name="eu.dakirsche.weatherwidgets.SmallWidgetSettingsDetailActivity"
                android:label="@string/title_activity_widget_settings_detail" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
                android:name="eu.dakirsche.weatherwidgets.LargeWidgetSettingsDetailActivity"
                android:label="@string/title_activity_widget_settings_detail" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
                android:name="eu.dakirsche.weatherwidgets.ForecastWidgetSettingsDetailActivity"
                android:label="@string/title_activity_widget_settings_detail" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>